
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



body {
    background-color: #F8FAFC;
    color: #333;
    line-height: 1.6;
}

header {
    background: #2A3335;
    color: #fff;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    align-items: flex-start;
}

header h1 {
    margin-bottom: 10px;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 80px;
    padding-top: 120px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
   
}

.section {
    margin-bottom: 30px;
}

.section h1 {
    margin-bottom: -5px;
    color: #80C4E9;
    font-size: 2.5rem;
}

.section h3 {
    margin-bottom: -5px;
    color: #0A3981;
    font-size: 1.5rem;
}

.section h4 {
    margin-bottom: 30px;
    color: #80C4E9;
    font-size: 1.3rem;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profile-pic {
    width: 300px;
    height: 300px;

    flex-shrink: 0;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about p {
    margin-bottom: 15px;
    color: #0A3981;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.containermain {
    max-width: 2100px;
    padding: 90px;
    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    
    
}


.card {
    width: 500px;
    margin: 10px auto;
    padding: 30px;
    padding-top: 25px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .header {
    background-color: #fff;
    color: #0A3981;
    padding: 15px;
    text-align: center;
    font-size: 2rem;
  }
  
  .body {
    padding: 30px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .skill-name {
    width: 70px;
    font-size: 16px;
  }
  
  .skill-level {
    width: 190px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .skill-percent {
    background-color: #80C4E9;
    height: 100%;
  }
  
  .skill-percent-number {
    margin-left: 50px;
    font-size: 16px;
  }
  

.container2 {
    width: 500px;
    margin: 10px auto;
    padding: 60px;
    padding-top: 25px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }

.container2 .header2{
    background-color: #fff;
    color: #0A3981;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
    font-size: 2rem;
}

.container2 h5{
    padding-bottom: 20px;
    font-size: 1.3rem;
}



.section {
    margin-bottom: 30px;
}

.section h1 {
    margin-bottom: -5px;
    color: #80C4E9;
    font-size: 2.5rem;
}

.section h3 {
    margin-bottom: -5px;
    color: #0A3981;
    font-size: 1.5rem;
}

.section h4 {
    margin-bottom: 30px;
    color: #80C4E9;
    font-size: 1.3rem;
}

.contact {
    max-width: 1100px;
    height: 200px;
    margin: 20px auto;
    padding: 80px;
    padding-top: 100px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
   
}

.contact p{
    margin-bottom: 20px;
    color: #0A3981;
    font-size: 2rem;
}
.icons a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #80C4E9;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 50px;
    font-size: 40px;
    transition: 0.4s;
    border-radius: 10px;;
}

.icons a:hover{
    background-color: #39cccc;
    transform: translateY(-12%);
    transition: 0.5s;
}
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0;
    background: #2A3335;
    color: #fff;
    font-size: 0.9rem;
}

footer a {
    color: #ffcf63;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
